<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container" th:if="${vacancies!=null and !vacancies.empty}" th:fragment="vacancy-list">
    <div class="row">
        <div class="col-sm">
            <h1>Vacancy list</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table border="1">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Tags</th>
                    <th>Author</th>
                    <th>Worker</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tr th:each="vacancy : ${vacancies}">
                    <td th:text="${vacancy.getTitle()}"></td>
                    <td th:text="${vacancy.getText()}"></td>
                    <td th:insert="~{fragments/tags :: tags}"></td>
                    <td th:text="${vacancy.getAuthorName()}"></td>
                    <td th:text="${vacancy.getWorkerName()}"></td>
                    <td><a th:href="@{'/profile/vacancy/editor/' + ${vacancy.getId()} + '/edit'}">Edit</a></td>
                    <td>
                        <form th:action="@{'profile/vacancy/editor/' + ${vacancy.getId()} + '/remove'}" method="post">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div>


</div>
</body>
</html>