<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${vacancies!=null and !vacancies.empty}" th:fragment="vacancy-list">
    Список вакансий
    <table border="1">
        <thead>
        <tr>
            <th>Название</th>
            <th>Текст</th>
            <th>Тэг</th>
            <th>Автор</th>
            <th>Исполнитель</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="vacancy : ${vacancies}">
            <td th:text="${vacancy.getTitle()}"></td>
            <td th:text="${vacancy.getText()}"></td>
            <td th:insert="~{fragments/tags :: tags}"></td>
            <td th:text="${vacancy.getAuthorName()}"></td>
            <td th:text="${vacancy.getWorkerName()}"></td>
            <td><a th:href="@{'/profile/vacancy/editor/' + ${vacancy.getId()} + '/edit'}">Редактировать</a></td>
            <td>
                <form th:action="@{'profile/vacancy/editor/' + ${vacancy.getId()} + '/remove'}" method="post">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>