<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <label>Название</label>
    <p th:text="${vacancy.getTitle()}"></p>
    <label>Тэги</label>
    <p th:text="${vacancy.getTag()}"></p>
    <label>Описание</label>
    <p th:text="${vacancy.getText()}"></p>
    <label>Автор</label>
    <p th:text="${vacancy.getAuthorName()}"></p>
    <div th:if="${yourself}">
        <label>Стать исполнителем</label>
        <form method="post" th:action="'/selected/' + ${vacancy.getId()}">
            <button type="submit">Отправить заявку</button>
        </form>
    </div>
</div>
</body>
</html>