<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>
<body>
Редактор пользователя
<form th:action="@{'/customer/' + ${customer.getId()} + '/edit'}" method="post" th:object="${customer}">
    <input type="text" name="customerName" th:placeholder="${customer.getUsername()}">
    <ul>
        <p><input name="roles" type="radio" th:value="${T(com.example.demo.role.Role).USER}" checked> User</p>
        <p><input name="roles" type="radio" th:value="${T(com.example.demo.role.Role).FREELANCER}">Freelancer</p>
        <p><input name="roles" type="radio" th:value="${T(com.example.demo.role.Role).ADMIN}">Admin</p>
    </ul>
    <button type=" submit">Отправить</button>
</form>
</body>
</html>