<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>
<body>
Список пользователей
<table border="1">
    <thead>
    <tr>
        <th>Логин</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Роли</th>
        <th>Почта</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.getUsername()}"></td>
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getFirstName()}"></td>
        <td th:text="${customer.getLastName()}"></td>
        <td th:text="${customer.getRoles()}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <td><a th:href="@{'/customer/' + ${customer.getId()} + '/edit'}">Редактировать</a></td>
        <td>
            <form th:action="'/customer/' + ${customer.getId()} + '/remove'" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>