<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Main page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/vacancy">Add vacancy</a>
            <form method="post" th:action="@{/filter}">
                <input type="text" name="filter" placeholder="Find vacancy">
                <button type="submit">Find</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" th:each="vacancy : ${vacancies}">
        <div class="col-sm">
            <div class="container">
                <div class="col-sm">
                    <p th:text="'Title ' +${vacancy.getTitle()}  + ', worker - ' + ${vacancy.getWorkerName()}"></p>
                    <label>Tags</label>
                    <div th:replace="~{fragments/tags :: tags}"></div>
                    <a th:href="@{'/selected/' +${vacancy.getId()}}">View a vacancy</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>