<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<h1 th:inline="text">Привет, [[${#httpServletRequest.remoteUser}]]!</h1>
<a href="/vacancy">Добавить вакансию</a>
<form method="post" th:action="@{/filter}">
    <input type="text" name="filter" placeholder="Найти вакансию">
    <button type="submit">Найти</button>
</form>
<div th:each="vacancy : ${vacancies}">
    <p th:text="'Название ' +${vacancy.getTitle()}  + ' тэг - ' + ${vacancy.getTag()} + ', исполнитель - ' + ${vacancy.getWorkerName()}"></p>
    <a th:href="@{'/selected/' +${vacancy.getId()}}">Просмотреть вакансию</a>
</div>
</body>
</html>