<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Hello World!</title>
</head>
<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>
<body>
<h1 th:inline="text">Привет, [[${#httpServletRequest.remoteUser}]]!</h1>
<a href="/vacancy">Добавить вакансию</a>
<form method="post" th:action="@{/filter}">
    <input type="text" name="filter" placeholder="Найти вакансию">
    <button type="submit">Найти</button>
</form>
<div th:each="vacancy : ${vacancies}">
    <p th:text="'Название ' +${vacancy.getTitle()}  + ', исполнитель - ' + ${vacancy.getWorkerName()}"></p>
    <div th:replace="~{fragments/tags :: tags}"></div>
    <a th:href="@{'/selected/' +${vacancy.getId()}}">Просмотреть вакансию</a>
</div>
</body>
</html>