<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h3>Предложения на ваши вакансии</h3>
    <div  th:each="sug : ${suggestion}">
        <div  th:each="vacancy : ${vacancies}">
    <p th:text="'Исполнитель - ' +${sug.getUsername()} + '; вакансия -' + ${vacancy.getTitle()}"></p>
        <form method="post" th:action="'/appoint/' + ${sug.getId()} + '/vacancy/' + ${vacancy.getId()}">
            <button type="submit">Назначить исполнителя</button>
        </form>
        </div>
    </div>
</div>
<div>
    <h3>Ваши запросы на вакансии</h3>
    <div th:each="req : ${request}">
        <p th:text="'Автор заказа - ' +${req.getUsername()}"></p>
    </div>

</div>
</body>
</html>