<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>
<body>
<form th:action="@{/vacancy/add}" method="post">
    <div><label> Название задачи: <input type="text" name="title"/> </label></div>
    <div><label>Текст задачи: <textarea name="text"></textarea> </label></div>
    <div>Тэги задачи: <input type="text" name="tag"/> </label></div>
    <div><input type="submit" value="Отправить"/></div>
</form>
</body>
</html>