<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Список вакансий
<table border = "1">
    <thead>
    <tr>
        <th>Название</th>
        <th>Текст</th>
        <th>Тэг</th>
        <th>Автор</th>
        <th>Исполнитель</th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="vacancy : ${vacancies}">
        <td th:text="${vacancy.getTitle()}"></td>
        <td th:text="${vacancy.getText()}"></td>
        <td th:text="${vacancy.getTag()}"></td>
        <td th:text="${vacancy.getAuthorName()}"></td>
        <td th:text="${vacancy.getWorkerName()}"></td>
        <td><a th:href="@{'/vacancy-edit/' + ${vacancy.getId()}}">Редактировать</a></td>
    </tr>
</table>
</body>
</html>