<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:insert="~{fragments/header :: header}"></div>
</header>
<body>
Редактор вакансий
<div th:each="vacancy : ${lst}">
    <form method="post">
        <label> <input type="text" name="vacancyTitle" th:value="${vacancy.getTitle()}"> Редактирование
            заголовка</label><br>
        <label>Редактирование тэгов</label>
        <div th:each="tag : ${tags}">
            <p th:text="${tag.getTag()}"></p>
        </div>
        <input type="text" name="vacancyTag"> <br>
        <label> <input type="text" name="vacancyText" th:value="${vacancy.getText()}"> Редактирование текста</label><br>
        <input type="hidden" name="vacancyId" th:value="${vacancy.getId()}">
        <button type=" submit">Редактировать</button>
    </form>
</div>
</body>
</html>